Hoteles/Connected Services/ReservaServicio/ReservaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReservaHoteles.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReservaHoteles.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="cod_habitacion" type="xs:int" />
      <xs:element minOccurs="0" name="cod_hotel" type="xs:int" />
      <xs:element minOccurs="0" name="cod_reserva" type="xs:int" />
      <xs:element minOccurs="0" name="comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doc_contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_entrada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_reserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_salida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="telef_contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
</xs:schema>