Hoteles/Connected Services/ReservaServicio/ReservaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28998/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservaHoteles.Dominio" />
  <xs:element name="RegistrarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReservaHoteles.Dominio" minOccurs="0" name="ReservaACrear" nillable="true" type="q1:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarReservaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>